<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    *{margin:0px;padding:0px;}
    .wrapper{
      width:100%;
      height:600px;  
      background:yellow;
    }
    .registSide{
      width:20%;
      height:100%;
      background:dodgerblue;  
      float:left;/*block 형인 태그 요소를 띄운다..*/
      text-align: center;
    }
    .center{
      width:60%;
      height:100%;
      background:#ccc;
      float:left;
    }
    .detailSide{
      width:20%;
      height:100%;
      background:#81e46d;
      float:left;
      text-align: center;
    }

    input[type=text]{
      width:90%;
    }
    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 16px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }  
    .over{
      font-size:26px;
      font-weight:bold;
    } 
    .out{
      font-size:16px;
      font-weight:normal;
    } 
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script>
    //앱선언 
    var myApp = angular.module("myApp", []);
    myApp.run(function ($rootScope, $http) {
      $rootScope.list = [];
      $rootScope.list.push({});
      $rootScope.list.push({});
      $rootScope.list.push({});

      //회원목록 가져오기!!!
      $rootScope.getList = function () {
        //alert("목록 지금 조회할께요");

        $http({
          url: "/member/list",
          method: "get"
        }).then(function (response) {
          //alert(response.data);
          $rootScope.list=response.data;
        }, function (error_response) {
          alert(error_response.statusText);
        });
      }

      $rootScope.getList();


    });


    myApp.controller("registController", function ($rootScope, $scope, $http) {
      $scope.regist = function () {
        $http({
          url: "/member/regist",
          method: "post",
          data: JSON.stringify({
            name: $scope.name,
            email: $scope.email,
            age: $scope.age
          })
        }).then(function (response) {
          //alert(response.data);
          if(response.data.result==0){
            alert("등록실패");
          }else{
            $rootScope.getList(); 
          }
        });//ajax
      }
    });
    myApp.controller("detailController", function ($rootScope, $scope,$http) {
      //상세보기 요청 함수 
      $rootScope.getDetail=function(member_id){
        alert("당신이 선택한 글의 id는 "+member_id);

        $http({
          url:"/member/detail",
          method:"get",
          params:{member_id:member_id}           
        }).then(function(response){
          //response.data //데이터 1건을 나타내는 json 객체가
          //넘어올 예정..
          $scope.name=response.data.name;
          $scope.email=response.data.email;
          $scope.age=response.data.age;
          $scope.member_id=response.data.member_id;

        });    
      }
      
      //삭제 
      $scope.del=function(id){
        //alert("당신이 삭제할 아이디는 "+ id);
        if(!confirm("삭제하시겠습니까?")){
          return;
        }

        $http({
          url:"/member/delete",
          method:"get",
          params:{member_id:id}
        }).then(function(response){
          if(response.data.result==0){
            alert("삭제실패");
          } else{
            alert("삭제성공");  
            //리스트 재호출!!!
            $rootScope.getList(); 
          } 
        });        
      }

      //수정
      $scope.edit=function(){
        if(!confirm("수정하실래요?")){
          return;
        }

        $http({
          url:"/member/edit",
          method:"post",
          data:JSON.stringify({
            name:$scope.name ,
            email:$scope.email,
            age:$scope.age,
            member_id:$scope.member_id
          })
        }).then(function(response){
          if(response.data.result==0){
            alert("수정실패");
          } else{
            alert("수정성공");  
            //리스트 재호출!!!
            $rootScope.getList(); 
          } 

        });
        
      }
      
    });

  </script>
</head>

<body>
  <div class="wrapper" ng-app="myApp">

    <div class="registSide" ng-controller="registController">
      <input type="text" placeholder="이름" ng-model="name" />
      <input type="text" placeholder="이메일" ng-model="email" />
      <input type="text" placeholder="나이" ng-model="age" />
      <button ng-click="regist()">등록</button>
    </div>
    <div class="center">

      <div style="text-align: center">
        <input type="text" ng-model="keyword"/>
      </div>

      <table>
        <tr>
          <th>이름</th>
          <th>이메일</th>
          <th>나이</th>
        </tr>
        <tr ng-repeat="x in list | filter : keyword" ng-click="getDetail(x.member_id)"   class="{{effect}}" ng-mouseover="effect='over'" ng-mouseout="effect='out'">
          <td>{{x.name}}</td>
          <td>{{x.email}}</td>
          <td>{{x.age}}</td>
        </tr>
      </table>

    </div>
    <div class="detailSide" ng-controller="detailController">
      <input type="text" placeholder="이름"    ng-model="name"/>
      <input type="text" placeholder="이메일" ng-model="email"/>
      <input type="text" placeholder="나이"   ng-model="age"/>
      <input type="hidden" ng-model="member_id"/>
      <button ng-click="edit()">수정</button>
      <button ng-click="del(member_id)">삭제</button>
    </div>
  </div>
</body>

</html>